#app {
	.wrapper {
		@extend %width-height;
		background-color: $bg-gary;
		.wrapper_con {
			width: 100%;
			height: calc(100% - 50px);
			padding-top: 50px;
			.sidebar {
				position: fixed;
				bottom: 0;
				left: 0;
				overflow: hidden;
				transition: width 0.3s;
				z-index: 999;
				width: 200px;
				height: calc(100% - 50px);
				background-color: $bg-black;
				box-shadow: 0 50px 2px $white;
				.el-scrollbar {
					height: 100%;
					.el-scrollbar__wrap {
						overflow-x: hidden !important;
					}
				}
				.el-menu {
					@extend %width-height;
					border: none;
				}
			}
			.pagemain {
				overflow: auto;
				margin-left: 200px;
				transition: all 0.3s;
				height: 100%;
				.mainWrapper {
					padding: 30px;
					margin-top: 30px;
					margin-bottom: 78px;
					background: white;
					position: relative;
				}
			}
		}
		.header {
			position: fixed;
			width: 100%;
			height: 50px;
			z-index: 100;
			.header_l {
				background-color: #3a3f51;
				width: 200px;
				height: 100%;
				float: left;
				transition: width 0.3s;
				.logo {
					display: block;
					font-size: 15px;
					font-weight: 600;
					color: $white;
					line-height: 50px;
					img {
						position: relative;
						height: 28px;
						vertical-align: middle;
						margin: 0 8px 0 18px;
						top: -3px;
					}
				}
			}
			.header_r {
				height: 100%;
				margin-left: 200px;
				background-color: $white;
				line-height: 50px;
                transition: all 0.3s;
				box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
				.header_d1 {
					float: left;
					.sidecoll {
						float: left;
						height: 50px;
						line-height: 56px;
						margin-left: 16px;
					}
					.breadcrumb {
						float: left;
						margin: 18px 0 0 20px;
					}
				}
				.header_d2 {
					float: right;
					height: 50px;
					.headerUl {
						height: 50px;
						li {
							float: left;
							padding: 0 10px;
							height: 50px;
							line-height: 50px;
							cursor: pointer;
							.iconFont {
								font-size: 18px;
								height: 50px;
								vertical-align: initial;
								line-height: 50px;
							}
							.el-badge__content.is-fixed.is-dot {
								right: 9px;
								top: 16px;
							}
							&:hover {
								background-color: #F6F8F8;
							}
							&:last-child {
								margin-right: 20px;
							}
							.userDrop {
								width: 102px;
								text-align: center;
								height: 50px;
								line-height: 50px;
								img {
									position: relative;
									width: 40px;
									height: 40px;
									border-radius: 50%;
									vertical-align: middle;
									margin-left: 5px;
								}
							}
						}
					}
				}
			}
		}
		.tags {
			position: fixed;
			top: 50px;
			right: 0;
			left: 200px;
			height: 30px;
			box-shadow: 0 5px 10px #ddd;
			transition: all 0.3s;
			background: $white;
			z-index: 98;
			ul {
				box-sizing: border-box;
				width: 100%;
				height: 100%;
				.tags-li {
					float: left;
					margin: 3px 5px 2px 3px;
					border-radius: 3px;
					font-size: 12px;
					overflow: hidden;
					cursor: pointer;
					height: 23px;
					line-height: 25px;
					border: 1px solid #e9eaec;
					background: $white;
					padding: 0 5px 0 12px;
					vertical-align: middle;
					color: #666;
					-webkit-transition: all 0.3s ease-in;
					-moz-transition: all 0.3s ease-in;
					transition: all 0.3s ease-in;
					&:not(.active):hover {
						background: #f8f8f8;
					}
					&.active {
						border: 1px solid #409EFF;
						background-color: #409EFF;
						.tags-li-title,.tags-li-icon {
							color: $white;
						}
					}
					.tags-li-title {
						float: left;
						max-width: 80px;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						margin-right: 5px;
						color: #666;
					}
				}
			}
			.tags-close-box {
				position: absolute;
				right: 0;
				top: 0;
				box-sizing: border-box;
				padding-top: 1px;
				text-align: center;
				width: 110px;
				height: 30px;
				background: $white;
				box-shadow: -3px 0 15px 3px rgba(0, 0, 0, 0.1);
				z-index: 10;
			}
		}
		.footNav {
			left: 200px;
			transition: all 0.3s;
		}
	}
}

#app {
	.closeBar {
		.sidebar {
			width: 64px !important;
			.el-menu--collapse > .sideItem .el-menu-item [class^='el-icon-'],
			.el-menu--collapse
			> .sideItem
			.el-submenu
			> .el-submenu__title
			[class^='el-icon-'] {
				margin: 0;
				vertical-align: middle;
				width: 24px;
				text-align: center;
			}
			.el-menu--collapse > .sideItem .el-menu-item span,
			.el-menu--collapse > .sideItem .el-submenu > .el-submenu__title span {
				height: 0;
				width: 0;
				overflow: hidden;
				visibility: hidden;
				display: inline-block;
			}
			.el-menu--collapse > .sideItem .el-menu-item .el-submenu__icon-arrow,
			.el-menu--collapse
			> .sideItem
			.el-submenu
			> .el-submenu__title
			.el-submenu__icon-arrow {
				display: none;
			}
		}
		.pagemain {
			margin-left: 64px !important;
		}
		.header_l {
			width: 64px !important;
			overflow: hidden;
		}
		.header_r {
			margin-left: 64px !important;
		}
		.tags,.footNav {
			left: 64px;
			transition: all 0.3s;
		}
	}
}

.notificatBar {
	position: fixed;
	height: calc(100% - 160px);
	bottom: 78px;
	right: 0;
	width: 360px;
	box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.2);
	background-color: $white;
	z-index: 99;
}

.footNav {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 0 !important;
	background: $bg-black;
	text-align: center;
	p {
		width: 500px;
		line-height: 30px;
		font-size: 14px;
		color: $white;
		margin: 0 auto;
		padding: 4px 0;
		.logo img {
			width: 28px;
			height: 28px;
			vertical-align: middle;
			margin: 0 8px 2px 8px;
		}
	}
}

.aa {
	height: 1200px;
	background: pink;
}

